In [ ]:
import pandas as pd
from statsmodels.stats import weightstats as stests

In [ ]:
df=pd.read_csv("/content/Air passengers.txt")

In [ ]:
#displaying the first 5 values
df.head()

     Month  Passengers
0  1949-01         112
1  1949-02         118
2  1949-03         132
3  1949-04         129
4  1949-05         121

In [ ]:
#describing the passengers column
df[['Passengers']].describe()

       Passengers
count  144.000000
mean   280.298611
std    119.966317
min    104.000000
25%    180.000000
50%    265.500000
75%    360.500000
max    622.000000

In [ ]:
#Preforming Z test
ztest ,pvalue = stests.ztest(df['Passengers'], x2=None, value=146)
print(float(pvalue))
print(ztest)

3.841018128406566e-41
13.43363182600507

In [ ]:
#Checking the hypothesis
if pvalue<0.05:
    print("Null hyphothesis rejected , Alternative hyphothesis accepted")
else:
    print("Null hyphothesis accepted , Alternative hyphothesis rejected")

Null hyphothesis rejected , Alternative hyphothesis accepted